*{
	box-sizing: :border-box;
}
header {
	background-color: orange;
	padding: 10px 0px;
	margin-bottom: 40px;
}
header h1 {
	margin-bottom: 0;

}
header h3 {
	font-weight: normal;
	margin: 0;
}
.row {
	padding-bottom: 20px;
}

.card-image {
	border: 1px solid grey;
}
.card-image img{
	height: 300px;
}
.card-image h2, .card-image p {
	padding-left: 15px;
}
.digital-cards {
	border: none;
	padding: 0;
}